*.pyc
*.swp
prestoadmin.egg-info/
.tox/
.coverage
htmlcov/
resources/
log/
tmp/

# Ignore generated Sphinx docs
docs/prestoadmin.*
docs/modules.rst
docs/_build

# Ignore build folders
build/
dist/
.eggs/
.idea/
*.egg/

# tmp backup files
*~
\#*#
.#*
