pycparser==2.18 # BSD
argparse==1.4 # Python
paramiko==2.10.1  # LGPL
flake8==2.5.4  # MIT
mock==1.0.1  # License :: OSI Approved :: BSD License
py==1.4.26  # MIT license
Sphinx==1.3.1  # BSD
tox==1.9.2  # http://opensource.org/licenses/MIT
virtualenv==12.0.7  # MIT
wheel==0.23.0  # MIT
Fabric==1.10.1  # License :: OSI Approved :: BSD License
requests==2.7.0  # Apache 2.0
docker==2.5.1  # Apache License 2.0
certifi==2015.4.28 # Mozilla Public License
nose==1.3.7  # GNU LGPL
nose-timer==0.6 # MIT
fudge==1.1.0  # The MIT License
PyYAML==3.11  # MIT
overrides==0.5  # Apache License, Version 2.0
setuptools==20.1.1  # License :: OSI Approved :: MIT License
pip==8.1.2  # MIT
retrying==1.3.3  # Apache 2.0
pyjks==0.5.1  # MIT
