#!/bin/bash

tar xvzf virtualenv-%VIRTUALENV_VERSION%.tar.gz

python virtualenv-%VIRTUALENV_VERSION%/virtualenv.py presto-admin-install

source presto-admin-install/bin/activate
pip install %WHEEL_NAME%.whl
deactivate